<div id="container">
    <div id="left">
        <img src="http://www.edu2act.cn/static/img/m.png"/>
        <a href="http://www.edu2act.cn/task/list/">任务</a><br/>
        <a href="#">同步课</a><br/>
        <a href="#">课程</a><br/>
        <a href="#">且说</a><br/>
        <a href="#">通知</a><br/>
    </div>
    <div id="right">
        <div id="top">
            <a href="http://www.edu2act.cn/task/list/">未提交</a>
            <a href="http://www.edu2act.cn/task/list/finished/">
                <i class=""></i>已完成
            </a>
            <a href="http://www.edu2act.cn/task/list/finished/">
                <i class=""></i>已完结
            </a>
        </div>
        <div id="bottom">
                <span>
                    您当前的同步课任务全部完成哦！
                </span>
        </div>
    </div>
</div>
